
*{
    font-size: 10px;
    text-decoration: dotted;
}

body{
    padding: 0;
    margin: 0;
}
.app{
    margin: 10px;
    margin-bottom: 80px;
}
ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: dotted;
}
.app>div:nth-of-type(1) img{
    width: 100%;
}
.app>h1,.app>h2{
    font-size: 18px;
}
.app>h1{
    color: red;
    display: inline-block;
}
.xx{
    display: flex;
    justify-content: space-around;
}
.xx h1{
    font-size: 16px;
}
.xx span{
    color: rgb(114, 114, 114);
}
.xx>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.anxuan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #85c87f;
    color: #fff;
}
.bq{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bq span{
    padding: 5px;
    border: 1px solid #7ebdf6;
    color: #7ebdf6;
    margin-left: 20px;
    margin-top: 20px;
}
.js{
    margin-top: 30px;
}
.js h1{
    font-size: 16px;
}
.js ul{
    list-style-type: decimal;
    color: darkgray;
    font-size: 14px;
}
.kf{
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    padding: 5px;
}
.kf>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}