@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}



.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
	font-size: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	/* background: var(--primary-color); */
	color: #fff;
	border-radius: 5px;
	/* border: solid #fff 1px; */
	/* margin-top: 25px; */
	opacity: 0.7;
}

.btn:hover {
	transform: scale(0.98);
}

#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}



/* cen */
#cen1{
	background: url(../img/ceshi1.png);
}
nav{
	background: url(../img/headJuly_left.png) no-repeat,url(../img/headJuly_right.png) no-repeat;
	height: 100px;
	height: 100px;
	background-position: left,right;
	
	font-size: 40px;
	display: flex;
	justify-content: space-around;
}
nav a{
	    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 0px #ff1f1f, 0 0 20px #ff0000;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 100px;
	
}

nav ul li ul li{
	    position: relative;
	    z-index: -1;
	    color: #0a0a0a;
	    background: rgba(199, 0, 0, 0.5);
	    text-align: center;
}

nav ul li:hover ul li{
	z-index: 1;
}




/*        左边轮播         */
* { padding:0; margin:0; font-size:12px; }
ul, li { list-style: none; }
.indexFocus{ padding:2px;width:60%;height:300px; margin:0;}
.indexFocus .focusBox{width:100%;height:100%;position:relative;margin:0 auto;position:relative}
.indexFocus .focusBox .bigPic{width:100%;height:100%;overflow:hidden;position:relative}
.indexFocus .focusBox .bigPic li{width:100%;height:100%}
.indexFocus .focusBox .bigPic img{width:100%;height:100%}
.indexFocus .focusBox .btn{width: 100%;height:16px;position:absolute;right:8px;bottom:4px;z-index:11}
.indexFocus .focusBox .btn ul li{/* width:15px; */height:15px;line-height:15px;margin-right:2px;display:block;/* background:#fff; */float:left;text-align:center;cursor:pointer}
.indexFocus .focusBox .btn .sel{
	width: 30%;
	height: 15px;
	background: #B90101;
/* 	color: #fff */
}
.indexFocus .focusBox .picText_bg{width:100%;height:26px;position:absolute;left:0;bottom:0;background:#000;filter:alpha(opacity=50); /*IE*/-moz-opacity:0.5; /*MOZ , FF*/opacity:0.5;/*CSS3, FF1.5*/}
.indexFocus .focusBox .picText{width:100%;height:26px;line-height:26px;text-align:left;font-weight:bold;margin:0 auto;position:absolute;left:0;bottom:0;overflow:hidden;z-index:10;}
.indexFocus .focusBox .picText a{padding-left:10px;color:#fff;}
img {
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	margin: 0px;
	border-right-width: 0px;
	padding: 0px;
}
.indexFocus1 a{
	text-decoration: none;
	font-size: 25px;
}

#movePic1 .btn ul{
	    display: flex;
	    justify-content: space-around;
}

/* in */
#in{
	width: 90%;
	height: 100%;
	margin: auto;
}
.indexFocus{
	float: left;
}
/* cen右边 */
.indexFocus1 h2 {
	font-weight: 300;
	font-size: 50px;
	line-height: 1.2;
	margin-bottom: 15px;
}


	.indexFocus1{
		width: 40%;
		float: right;
		padding: 10px;
	}
	.indexFocus1 .bt li{
		float: left;
	}
	.indexFocus1 #zh{
		text-decoration: underline;
		color: #4ab5d5;
	}
	.indexFocus1 #on2,.indexFocus1 #on3{
		display: none;
	}
	
	.indexFocus1 .xx li a:hover{
		color: #4ab5d5;
	}
	
	.indexFocus1 .bt{
		display: flex;
		justify-content: space-around;
	}
	.indexFocus1 .xx li div ul li{
		    margin-bottom: 10px;
	}



/* in1 */
	#in1{
		    width: 90%;
		    height: 100%;
		    margin: auto;
	}
	#in1 .le{
		width: 60%;
	/* 	float: left; */
	}
	#in1 .re{
		width: 40%;
	}
	#in1 .le ul li{
		float: left;
		width: 24%;
	}
	#in1 .le ul{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	#in1  .le ul li img{
		width: 100%;
	}
	#in1 .le ul li:hover{
		position: relative;
		top: -5px;
	}
	#in1 .re{
		width: 40%;
	}
	#in1 .le ul li{
		text-align: center;
		color: #FFFFFF;
		font-weight: bold;
	}