.tjmv{
    text-align: center;
}
.tjmv img{
    width: 100%;
}
.list-unstyled img{
    width: 150px;
}
.tjmv .col-3{
    position: relative;
}
.play{
    position: absolute;
    width: 72px !important;
    z-index: 9999;
    left: 40%;
    top: 30%;
    opacity: 0.2;
}
.col-3:hover .play{
    opacity: 0.5 !important;
}
.col-3:hover{
    transform: scale(1.1);
}